<div class="input">
  <input (keyup)="searchKey.next($event.target.value)" type="text" placeholder="Traži">
</div>
<br>
<ul *ngFor="let joke of allJokes | slice:0:10">
    <li (click)="deleteJoke(joke)"> {{ joke.value }} </li>
</ul>