body {
    font-family: Georgia;
}

.input {
    text-align: center;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    margin-right: 40px;
    cursor: pointer;    
}

a {
    text-decoration: none;
    font-size: 20px;
}