/* You can add global styles to this file, and also import other style files */
html {
    font-family: Courier New, Courier, monospace;
    background: url('assets/wallpaper.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}